.navigation__link {
  transition: all 0.3s ease-out;
}

body {
  font-family: "Baloo Paaji 2", cursive, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.wrapper {
  margin: auto;
  padding: 0 50px;
}

.ico {
  display: block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 30px;
  top: 34px;
  left: 34px;
  z-index: 1500;
  cursor: pointer;
}
.hamburger__line {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.active .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 6px);
}

.active .line-2 {
  opacity: 0;
}

.active .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}

.header {
  position: relative;
  padding: 20px 0;
  box-shadow: 0px 4px 20px #b1b0b0;
}

.header__wrapper {
  display: flex;
  justify-content: center;
}

.header__navigation {
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 1000;
  padding: 95px 0;
  height: 100vh;
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.header__switcher {
  position: absolute;
  top: 30px;
  right: 60px;
}

.header__navigation.active {
  left: 0%;
}

.header__navigation.train {
  background: linear-gradient(#31beb7, #40fcb4);
}

.header__navigation.play {
  background: linear-gradient(#f35b35, #fda643);
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navigation__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  list-style: none;
  cursor: pointer;
}
.navigation__link .ico {
  margin-right: 10px;
}
.navigation__link a {
  text-decoration: none;
  color: inherit;
}
.navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navigation__link.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.switcher {
  position: relative;
  width: 10.3rem;
}

.switcher__checkbox {
  display: none;
}

.switcher__label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0.2rem solid #000000;
  border-radius: 2rem;
}

.switcher__inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.switcher__inner:before, .switcher__inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 3.8rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 4.1rem;
  box-sizing: border-box;
}

.switcher__inner:before {
  content: "TRAIN";
  padding-left: 1rem;
  background: linear-gradient(#31beb7, #40fcb4);
}

.switcher__inner:after {
  content: "PLAY";
  padding-right: 1.4rem;
  background: linear-gradient(#f35b35, #fda643);
  text-align: right;
}

.switcher__switch {
  display: block;
  width: 2.5rem;
  margin: 0.65rem;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6.1rem;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}

.switcher__checkbox:checked + .switcher__label .switcher__inner {
  margin-left: 0;
}

.switcher__checkbox:checked + .switcher__label .switcher__switch {
  right: 0;
}

.card__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card__list > * {
  margin: 10px;
  width: 140px;
  height: auto;
}

.card {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 50% auto;
}
.card__img {
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.card.train {
  background: linear-gradient(#31beb7, #40fcb4);
}

/*# sourceMappingURL=style.css.map */
